/*
	efeito fadeout sendo aplicado nas fotos que irão ser 'retiradas' quando filtro 
	for acionado...

	para resaolver nosso problema, iremos aumentar a especificidade do nosso seletor
	.painel-animado...
	Porém, ainda nao ocorreu nenhuma 'mágica', porque faltou usar o poderoso transition 
	do CSS, por mais que o foco seja Angularm trabalhar com o módulo ngAnimate requer
	conhecimento dos poderosos recursos do CSS3, a principal tarefa do Angular...
	srria aplicar ou remover determinadas classes...
*/

.painel-animado {
	-moz-transition:transform 0.8s;
    -webkit-transition:transform 0.8s;
    -ms-transition:transform 0.8s;
    -o-transition:transform 0.8s;
    transition:transform 0.8s;
}

.painel-animado.ng-leave-active {
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
} 